<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Spending Jadi money</title>


</head>


<body>


    <br><br><br>


    <header>
        <img id="JadiImage" src="https://media1.maktabkhooneh.org/avatars/2025-05-26_154945.885302_2553.png?expire=1778071542&token=f6bcdeab1a0e89b68fb626a81f9c8a0c&md5=9rzeqxoOibaPtiaoH5yKDA==" alt="جادی">
        <h2 style="margin-top: 115px;">
            ثروت فعلی جادی(تومان):
        </h2>
        <br>
        <h1 id="money"></h1>
    </header>

    

        

        
    <div class="box">
        <img class="image" src="https://dkstatics-public.digikala.com/digikala-products/2d34bdbfe22110848b824b445f10c93f46c69adb_1775573192.jpg?x-oss-process=image/resize,m_lfit,h_800,w_800/format,webp/quality,q_90" alt="کامپیوتر"> 
        <br>
        <p>کامپیوتر</p>
        <p>قیمت: <b>400,000,000</b></p>
        <p>تعداد خریده شده:<b>0</b></p>
        <input type="number" name="number" class="number" placeholder="تعداد(خرید/فروش) را وارد کنید"><br>
        <button onclick="javascript:mk()">خرید</button>
        <button onclick="javascript:sell()">فروش</button>
    </div>


       

        
    <div class="box">
        <img class="image" src="https://dkstatics-public.digikala.com/digikala-products/3bc3739348247275517dd14931b205e370de4369_1748436217.jpg?x-oss-process=image/resize,m_lfit,h_800,w_800/format,webp/quality,q_90" alt="مانیتور"> 
        <br>
        <p>مانیتور</p>
        <p>قیمت: <b>28,000,000</b></p>
        <p>تعداد خریده شده:<b>0</b></p>
        <input type="number" name="number" class="number" placeholder="تعداد(خرید/فروش) را وارد کنید"><br>
        <button onclick="javascript:mk()">خرید</button>
        <button onclick="javascript:sell()">فروش</button>
    </div>




        
    <div class="box">
        <img class="image" src="https://dkstatics-public.digikala.com/digikala-products/e2b454328ed411ea9130a4bef2e1bee87a2daed8_1754245427.jpg?x-oss-process=image/resize,m_lfit,h_800,w_800/format,webp/quality,q_90" alt="ماوس و کیبورد"> 
        <br>
        <p>ماوس و کیبورد</p>
        <p>قیمت: <b>3,200,000</b></p>
        <p>تعداد خریده شده:<b>0</b></p>
        <input type="number" name="number" class="number" placeholder="تعداد(خرید/فروش) را وارد کنید"><br>
        <button onclick="javascript:mk()">خرید</button>
        <button onclick="javascript:sell()">فروش</button>
    </div>



    <div class="box">
        <img class="image" src="https://dkstatics-public.digikala.com/digikala-products/378202c282cdaf4466d7497a5e615e96c7edb724_1747147025.jpg?x-oss-process=image/resize,m_lfit,h_800,w_800/format,webp/quality,q_90" alt="فلش مموری"> 
        <br>
        <p>فلش مموری</p>
        <p>قیمت: <b>1,500,000</b></p>
        <p>تعداد خریده شده:<b>0</b></p>
        <input type="number" name="number" class="number" placeholder="تعداد(خرید/فروش) را وارد کنید"><br>
        <button onclick="javascript:mk()">خرید</button>
        <button onclick="javascript:sell()">فروش</button>
    </div>


    <div class="box">
        <img class="image" src="https://dkstatics-public.digikala.com/digikala-products/5ac4c7f50871860aa76de0346da862fd379f0a69_1764062868.jpg?x-oss-process=image/resize,m_lfit,h_800,w_800/format,webp/quality,q_90" alt="موبایل"> 
        <br>
        <p>لپ تاپ</p>
        <p>قیمت: <b>220,000,000</b></p>
        <p>تعداد خریده شده:<b>0</b></p>
        <input type="number" name="number" class="number" placeholder="تعداد(خرید/فروش) را وارد کنید"><br>
        <button onclick="javascript:mk()">خرید</button>
        <button onclick="javascript:sell()">فروش</button>
    </div>



    <div class="box">
        <img class="image" src="https://dkstatics-public.digikala.com/digikala-products/26aa21dc59b10010c1a338d0266f532d67148711_1758351224.jpg?x-oss-process=image/resize,m_lfit,h_800,w_800/format,webp/quality,q_90" alt="موبایل"> 
        <br>
        <p>موبایل هوشمند</p>
        <p>قیمت: <b>450,000,000</b></p>
        <p>تعداد خریده شده:<b>0</b></p>
        <input type="number" name="number" class="number" placeholder="تعداد(خرید/فروش) را وارد کنید"><br>
        <button onclick="javascript:mk()">خرید</button>
        <button onclick="javascript:sell()">فروش</button>
    </div>



    <div class="box">
        <img class="image" src="https://dkstatics-public.digikala.com/digikala-products/e65b67f71f06015af329ac777602b55a07f9be0e_1754236524.jpg?x-oss-process=image/resize,m_lfit,h_800,w_800/format,webp/quality,q_90" alt="ps5"> 
        <br>
        <p>پلی استیشن 5</p>
        <p>قیمت: <b>150,000,000</b></p>
        <p>تعداد خریده شده:<b>0</b></p>
        <input type="number" name="number" class="number" placeholder="تعداد(خرید/فروش) را وارد کنید"><br>
        <button onclick="javascript:mk()">خرید</button>
        <button onclick="javascript:sell()">فروش</button>
    </div>
    


    <div class="box">
        <img class="image" src="https://dkstatics-public.digikala.com/digikala-products/f47c1c6670157c6df7a6c460d10129503ce6d93c_1762109123.jpg?x-oss-process=image/resize,m_lfit,h_800,w_800/format,webp/quality,q_90" alt="ربات هوش مصنوعی"> 
        <br>
        <p>ربات هوش مصنوعی</p>
        <p>قیمت: <b>70,000,000</b></p>
        <p>تعداد خریده شده:<b>0</b></p>
        <input type="number" name="number" class="number" placeholder="تعداد(خرید/فروش) را وارد کنید"><br>
        <button onclick="javascript:mk()">خرید</button>
        <button onclick="javascript:sell()">فروش</button>
    </div>



    <div class="box">
        <img class="image" src="https://dkstatics-public.digikala.com/digikala-products/4e184085eccac6ea6fe968db64b3be84b3665381_1771429001.jpg?x-oss-process=image/resize,m_lfit,h_800,w_800/format,webp/quality,q_90" alt="هواپیما"> 
        <br>
        <p>هواپیمای شخصی</p>
        <p>قیمت: <b>70,000,000,000</b></p>
        <p>تعداد خریده شده:<b>0</b></p>
        <input type="number" name="number" class="number" placeholder="تعداد(خرید/فروش) را وارد کنید"><br>
        <button onclick="javascript:mk()">خرید</button>
        <button onclick="javascript:sell()">فروش</button>
    </div>



    <div class="box">
        <img class="image" src="https://dkstatics-public.digikala.com/digikala-products/07aa868e918d599c7baa240abbfdaa3287a1173a_1704207145.jpg?x-oss-process=image/resize,m_lfit,h_800,w_800/format,webp/quality,q_90" alt="جت"> 
        <br>
        <p>جت شخصی</p>
        <p>قیمت: <b>70,000,000,000</b></p>
        <p>تعداد خریده شده:<b>0</b></p>
        <input type="number" name="number" class="number" placeholder="تعداد(خرید/فروش) را وارد کنید"><br>
        <button onclick="javascript:mk()">خرید</button>
        <button onclick="javascript:sell()">فروش</button>
    </div>



    <div class="box">
        <img class="image" src="https://dkstatics-public.digikala.com/digikala-products/7ac1dee8ce9097f80063e548fbb6f488a35cecae_1651146497.jpg?x-oss-process=image/resize,m_lfit,h_800,w_800/format,webp/quality,q_90" alt="هلیکوپتر"> 
        <br>
        <p>هلیکوپتر شخصی</p>
        <p>قیمت: <b>100,000,000,000</b></p>
        <p>تعداد خریده شده:<b>0</b></p>
        <input type="number" name="number" class="number" placeholder="تعداد(خرید/فروش) را وارد کنید"><br>
        <button onclick="javascript:mk()">خرید</button>
        <button onclick="javascript:sell()">فروش</button>
    </div>



    <div class="box">
        <img class="image" src="https://dkstatics-public.digikala.com/digikala-products/4a13b6c9cdef40b66ab5179ba4cea61fb0f3eb9a_1771333361.jpg?x-oss-process=image/resize,m_lfit,h_800,w_800/format,webp/quality,q_90" alt="هلیکوپتر"> 
        <br>
        <p>کشتی کروز</p>
        <p>قیمت: <b>100,000,000,000</b></p>
        <p>تعداد خریده شده:<b>0</b></p>
        <input type="number" name="number" class="number" placeholder="تعداد(خرید/فروش) را وارد کنید"><br>
        <button onclick="javascript:mk()">خرید</button>
        <button onclick="javascript:sell()">فروش</button>
    </div>




    <footer>
<p>آیا دوست داری ثروت یک میلیاردر رو خرج کنی؟</p>
<p>توی این وبسایت میتونی ثروت جادی(برنامه نویس و میلیاردر) رو خرج کنی💸</p>
<a href="https://github.com/ShayanCoder710/Spending_Jadi_money/" target="_blank">گیت هاب وبسایت</a>
    </footer>




<script>
    var money = 1000000000000000
    document.getElementById('money').innerText = money.toLocaleString()

    // The JavaScript of this site has been written with artificial intelligence
    function mk() {
        let box = event.target.closest('.box')
        let priceText = box.querySelectorAll('b')[0].innerText.replace(/,/g, '')
        let countTag = box.querySelectorAll('b')[1]
        let input = box.querySelector('.number')
        let count = input.value
        if (!count || count <= 0) count = 1
        else count = parseInt(count)
        let total = parseInt(priceText) * count
        if (total > money) {
            alert('پول جادی برای این خرید کمه!')
            return
        }
        money -= total
        document.getElementById('money').innerText = money.toLocaleString()
        let boughtCount = parseInt(countTag.innerText)
        boughtCount += count
        countTag.innerText = boughtCount
    }

    function sell() {
        let box = event.target.closest('.box')
        let priceText = box.querySelectorAll('b')[0].innerText.replace(/,/g, '')
        let countTag = box.querySelectorAll('b')[1]
        let input = box.querySelector('.number')
        let count = input.value
        if (!count || count <= 0) count = 1
        else count = parseInt(count)
        let boughtCount = parseInt(countTag.innerText)
        if (count > boughtCount) {
            alert('به این تعداد نداری که بفروشی!')
            return
        }
        let total = parseInt(priceText) * count
        money += total
        document.getElementById('money').innerText = money.toLocaleString()
        boughtCount -= count
        countTag.innerText = boughtCount
    }

</script>


</body>
</html>
